*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
    font-size: 65px;
   
    
}

.bigbro{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container{
    height: 630px;
    width: 630px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:8px;
    overflow: hidden;
}


.contain{
    height: 300px;
    width: 300px;
    background-color: blue;
}
.contain:hover{
    box-shadow: 8px 8px 8px black;
    transform: translate3d(5px);
}

.score{
    position:absolute;
    
    padding: 29px;
    width: 200px;
    font-size: 40px;
    background-color: black;
    color: white;
    border-radius: 20px;
}